{% extends "main.html" %}
{% block head %}
<style>
    .posting-box {
        display: block;
        width: 250px;
        height: 300px;

        border: 1px solid black;
        border-radius: 5px;

        padding: 25px;
    }
</style>


{% endblock %}


{% block header %}
<div class="wrap">
    <div class="jumbotron">
        <h1 class="display-4">오늘의 고양이</h1>
        <p class="lead"></p>
        <hr class="my-4">
        <p>당신의 고양이를 자랑해주세요!</p>
    </div>
</div>
{% endblock %}

{% block content %}
<script>
    function editCard(id){
            let card_src = $('#'+id).data("src");
            let card_desc = $('#'+id).data("desc");

            let temp_html = `
            <div class="card">
                <img class="card-img-top" src="${card_src}">
                <div class="card-body">
                     <input type="file" class="control-file" name="new_attachfile" id="new_attachfile">
                    <input type="text" class="card-text" name="new_desc" id="new_desc" value="${card_desc}">
                    <button class="my-2 btn btn-primary btn-sm" onclick='editCardSave(${id})'>저장</button>
            </div>
            `
            $('#'+id).html(temp_html);
    }
</script>

          <div class="card" style="width: 18rem;">
              <form method="post" action="{{url_for('write')}}" enctype="multipart/form-data">
                <input type="file" class="control-file" name="attachfile" id="attachfile">
                <div class="card-body">
                    <input type="text" class="card-text" name="desc" id="desc">
                    <button type="submit" class="btn btn-primary">업로드</button>
                </div>
              </form>
          </div>

    <div class="card-columns">
        {% for result in results %}
            <div id="{{result._id}}" class="card" data-src="../../images/{{result.attachfile}}" data-desc='{{result.desc}}'>
                <img class="card-img-top" src="../../images/{{result.attachfile}}">
                <div class="card-body">

                    <div class="card-name" data-name="{{result.name}}">{{result.name }}</div>
                    <div class="card-date" data-date="{{result.created}}">{{result.created}}</div>
                    <p class="card-desc">{{result.desc}}</p>
                    <button onclick='editCard("{{result._id}}")' class="btn btn-primary">수정</button>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
