{% extends "main.html" %}

{% block content %}
<h3>my page</h3>
<!--업로드 영-->

<div class="row row-cols-md-3 my-3">
      <div class="form-group col mx-3 mb-4">
          <div class="card" style="width: 18rem;">
              <form method="post" action="{{url_for('write')}}" enctype="multipart/form-data">
                <input type="file" class="control-file" name="attachfile" id="attachfile">
                <div class="card-body">
                    <input type="text" class="card-text" name="desc" id="desc">
                    <button type="submit" class="btn btn-primary">업로드</button>
                </div>
              </form>
          </div>

      </div>

    <!--콘텐츠 영역 -->
    <div class="col mb-4 mx-3 card" style="width: 18rem;">
      <img src=".." class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
     <div class="col mb-4 mx-3 card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
     <div class="col mb-4 mx-3 card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
     <div class="col mb-4 mx-3 card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
</div>

{% endblock %}