{% extends "main.html" %}

{% block content %}
        <form action="{{url_for('register')}}" method="post" name="form" class="sign">
            <div class="mb-3">
                <label for="emailText" class="form-label">이메일을 입력해주세요.</label>
                <div class="col-sm-11">
                    <input type="email" class="form-control" name="emailText" id="emailText" placeholder="name@example.com">
                </div>
            </div>
            <div class="mb-3">
                <label for="password1" class="form-label">비밀번호를 입력해주세요.</label>
                <div class="col-sm-11">
                    <input type="password" class="form-control" name="password1" id="password1">
                </div>
            </div>
            <div class="mb-3">
                <label for="password2" class="form-label">비밀번호를 확인해주세요.</label>
                <div class="col-sm-11">
                    <input type="password" class="form-control" name="password2" id="password2">
                </div>
            </div>
            <div class="mb-3">
                <label for="nameTextarea" class="form-label">이름을 입력해주세요.</label>
                <div class="col-sm-11">
                    <input type="text" class="form-control" name="nameTextarea" id="nameTextarea" rows="1">
                </div>
            </div>
            <button type="submit" class="btn btn-primary float-right">가입하기</button>
        </form>
{% endblock %}